@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #181818
}

.barraAvisos{
  background-color: #181818;
  color: #FFFFFF;
  padding: 3px;
  font-weight: 300;
}
.barraTitulo{
  
}
.barraTitulo h2{
  font-weight: 600;
  line-height: 15px;
}
.bannerPrincipal{
  color: #FFFFFF;
  text-align: left;
  overflow-y: hidden;
  max-height: 375px;
  
}
.bannerPrincipal img{
  width: 100%;
  filter: brightness(.45) contrast(.95);
  transform: translate(0, -20%);
}
.bannerPrincipal .texto{
  position: absolute;
  z-index: 10;
  padding-left: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 375px;
  max-width: 450px;
  line-height: 2em;
  letter-spacing: 0.03em;
}

#corpo{
  padding-top: 50px;
  padding-bottom: 50px;
}
#corpo h1{
  font-weight: 600;
}

.tenis{
  display: grid;
  grid-column: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
  padding: 30px 120px;
  justify-items: center;
}
.blocoTenis{
  display: flex;
  align-items: center;
  background-color: #EBE9EA;

  width: fit-content;
  height: 300px;
}
.blocoTenis img{
  width: 300px;
}

#footer{
  color: #FFFFFF;
  background-color: #181818;
  padding: 3px;
  font-weight: 500;
}

@media (max-width: 1500px) {
  .tenis{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 1280px) {
  .tenis{
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 850px) {
  .tenis{
    grid-template-columns: 1fr;
  }
}